.DS_Store
.AppleDouble
.LSOverride

Icon

._*

build/
Build/
DerivedData/

iOS DeviceSupport/

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

xcuserdata/
xcshareddata/WorkspaceSettings.xcsettings

*.preview-thumbnails
*.preview/  

*.xccheckout
*.xcscmblueprint

.swiftpm/
.build/

Pods/
Podfile.lock

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

*.xcarchive

*.swp
*.zip
*.tar.gz
*.bak
*.tmp
*.orig

